.header{
    width:100%;
    height:44px;
    display:flex;
    padding:0 10px;
    box-sizing:border-box;
    align-items: center;
    justify-content: space-between;
    background:#14B9C8;
}

.headerLeft{
    height:100%;
    display:flex;
    justify-content: flex-start;
    align-items: center;
}

.headerRight{
    height:100%;
    line-height:44px;
}
.headerBtn{
    background:transparent;
    border:0;
    outline: 0;
    margin-right:10px;
}
.btnContent{ 
    width:26px;
    display:block;
    height:3px;
    margin-top:4px;
    background:#fff;
}
.btnContent:first-child{
    margin:0 !important;
}
.logo{
    height:24px;
    box-sizing:border-box;
}