body,html,#root,.test{
    height:100%;
    width:100%;
    overflow: hidden;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
}
a.activeClickTap{
    color:#14B9C8 ;
    border-bottom:2px solid #14B9C8;
    font-weight: bold;
}
.test{
    display:flex;
    flex-direction: column;
}
.body{
    flex:1;
    overflow: hidden;
}